
body{
    background-color: black;
}

img{
    display: flex;
    position: absolute;
    width: 50%;
    height: auto;
    margin-top: 10%;
    margin-left: 25%;
    z-index: -1;
}


.contenedor-card{
    display: inline-flex;
    flex-direction:column ;
    align-items: center;
    object-fit: cover;
    background-color: blanchedalmond;
    width: 20%;
    height: 350px;
    margin-top: 5%;
    margin-left: 3%;
}

.contenedor-card .img-card{
    position: relative;
    width: 90%;
    height: 90%;
    object-fit: cover;
    z-index: 10;
    margin: 5px;

}

